.centre{
    margin:0 auto;
}

div.jumbotron{
    background-image: url("https://www.desktopbackground.org/p/2012/03/09/356053_elephant-print-wallpapers-album-on-imgur_2559x1599_h.jpg");
    color: white;
}

div.container.Brands{
    margin-top: 3em;
    margin-bottom: 3em;
}

div.container.formu{
    margin-top: 3em
}

div.container.models{
    margin-top: 3em;
    margin-right: 5em;
}